# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# Alembic compiled scripts
alembic/versions/__pycache__/

# VSCode or editor junk
.vscode/
*.swp

# OS-specific
.DS_Store


